{% extends "base.html" %}
{% block content %}

    <h1>About Us</h1>

    <p>
        Our tea is often hand-picked and painstakingly processed to preserve, and even enhance, the tea’s natural flavor.The process is far more labor intensive and results in a more complex flavor profile that is simply unparalleled by conventional teas proccesors.
    </p>

    <p>
        A higher antioxidant level is found in the tea, thus maximizing the drink’s potential health benefits.
    </p>

{% endblock content %}