{% extends "base.html" %}
{% block content %}
<div class="row">
    {% for product in products %}
        <div class="col-sm">
	        <div class="card">
			  	<img src="{{ url_for('static',filename='product.image')}}" class="card-img-top" alt="...">
			  	<div class="card-body">
					<div>
						<b>
						{{ product.name }}
						</b>
					</div>
				    <p class="card-text">{{ product.description }}</p>
					<br>
					<div id="addToCart">
						<a href="/addToCart/{{product.id}}">
							<button type="button" class="btn btn-success">Add to Cart</button>
						</a>
					</div>
        		</div>
			</div>
		</div>


    {% endfor %}
</div>
{% endblock content %}