{% extends "base.html" %}
{% block content %}

<body>
    Kapsu Chai. <br>
Terms and conditions <br>
The following terms and conditions apply to the use of Kapsu Chai online tea shop  and by placing an order through  the website you will be deemed to have read, understood and accepted these terms and conditions:
    <br>
    <p>
    1)Security policy.
We are concerned about your privacy and endeavor to only collect data necessary to make your experience on our online tea shop  as efficient as possible. We have taken initiative to ensure that the data you provide is safe and secure from any loss, misuse and alteration in our hands.
    </p>
    2)Third party rights.
The agreement does not give rights to 3rd parties. However, our rights and obligations can be assigned to others if ownership changes or by law.
Any goods which you might buy from this website are intended for your use only. Resale of our products by unauthorized 3rd parties or agents is forbidden.
3)Pricing, payment and delivery.
All prices listed on the Website for our products reflect our prices  at the time of listing. We give great care to keep them up to date.
In case the price listed is not current, we will contact you to inform you about the price difference and you can choose to opt-out of the order.
After we have satisfied your payment and delivery details, we shall confirm via text.
If the product ordered is not available for certain reasons, we shall inform you via text or call.
In case of a late delivery, the delivery charge will neither be voided nor refunded.
It is your duty to ensure that at the time of delivery, you have taken adequate measures for the safe delivery of your goods. We shall not be liable for any damage or costs incurred to goods that arises as a result of your failure to provide adequate arrangements for delivery.
4) Cancelation of an order.
If you decide to cancel your order before delivery or dispatch of an item, let us know.
After a successful cancelation of an order, the amount payable including delivery fee will be refunded to you within a maximum of 14 days.
In the event of late cancelation, say after an item has been dispatched or delivered, it will be deemed that the order has not been canceled and there will be no refunds.



5)Exclusion of liability.
We shall not be  liable for any of your engagements with a 3rd party on this website. In case you make a payment, contractual commitment or request to a 3rd party on our website, we will not be liable for any claim, costs (including legal costs), expenses or damages occasioned as a result of such action on your part.
Our website may contain links to 3rd party sites. The presence of a link to a 3rd party site does not mean that our website endorses that site, views or its products. The presence of such 3rd party links are not an endorsement or recommendation by us.
We shall only be liable if our direct acts or omissions lead to injury or damage to a party of this contract.
6)Misconduct on the website.
If you are found to be in breach of any of the terms and conditions or any applicable legislation, we have the mandate to limit your usage of our website. Repeated misconduct will lead to termination or blockage of your account.
7)Updating of terms.
These terms are not cast on stone and with time we might need to make slight adjustments to them so that they accurately reflect our services and policies. We will notify you before we make changes to these terms and give you and opportunity to review them before we give effect to the changes.
8)Other terms and conditions.
If any term or condition of our Agreement shall be deemed invalid, illegal or unenforceable, the parties hereby agree that such term or condition shall be deemed to be deleted and the remainder of the Agreement shall continue in force without such term or condition.
These Terms and Conditions and our Agreement shall be governed by and construed in accordance with the laws of Kenya. The parties hereto submit to the exclusive jurisdiction of the courts of Kenya.

</body>

{% endblock content %}